.container {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;

}

.square {
    height: 43.75px ;
    width: 43.75px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}